/*******************Section1*****************/

.section {
	width: 100%;
}
#section1 {
	background-image: url("../images/shapelydemo.jpg");
	background-attachment: fixed;
	background-position: 50% 70%;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 80px;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-bottom: 80px;
	margin-top: 100px;
	margin-left: 80px;
	margin-right: 80px;
	/* 	border: 2px solid red;
 */
}

.heading h1 {
	font-size: 60px;
	font-weight: 300;
	line-height: 64px;
	color: white;
	text-transform: capitalize;

	padding-right: 80px;
	padding-left: 80px;
	padding-top: 20px;
	text-align: center;
	/* 	border: 2px solid red;
 */
}
.heading p {
	font-size: 12px;
	font-weight: 200;
	line-height: 64px;
	color: white;
	font-weight: 400;
	text-transform: capitalize;
}

.btns {
	margin-top: 10px;
}
.purple {
	background-color: #745cf9;
	color: white;
	text-align: center;
	margin-top: 13px 26px;
	margin: 0px 8px 24px 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
}
.white {
	background-color: rgba(255, 255, 255, 0.1);
	color: white;
	margin-top: 13px 26px;
	margin: 0px 8px 24px 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;

	text-align: center;

	border: 2px solid white;
}
.purple:hover {
	background-color: #624e88;
	color: white;
}

.white:hover {
	color: black;
	background-color: white;
}

/**************************************   media query 1024px   ***************************/

@media (max-width: 1024px) {
	#section1 {
		width: 100%;
		overflow-x: hidden;
	}
	.heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-bottom: 150px;
	}
}

/* --------------------------------media query 768px ------------------------- */
@media (max-width: 768px) {
	.header {
		display: none;
	}
	#section1 {
		max-width: 100%;
		overflow-x: hidden;
	}
	.heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-top: 10px;
	}
	.heading h1 {
		font-size: 30px;
		font-weight: 400;
		margin-top: 80px;
	}

	.heading p {
		font-size: 14px;
		font-weight: 300;
		color: white;
	}

	.btns {
		display: flex;
	}
}
/**************   mediaQuery 425px****************/
@media (max-width: 425px) {
	#section1 {
		max-width: 100%;

		overflow-x: hidden;
	}
	.heading {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 80px;
		margin-left: 20px;
		margin-right: 20px;
		position: sticky;
	}
	.heading h1 {
		font-size: 25px;
		font-weight: 300;
		padding-left: 10px;
		padding-right: 10px;
	}
	.heading p {
		font-size: 10px;
		font-weight: 200;
		margin-top: -20px;
	}
	.purple {
		background-color: #745cf9;
		color: white;
		text-align: center;
		margin-top: 13px 26px;
		margin: 0px 8px 24px 0px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 40px;
		padding-right: 40px;
	}
	.white {
		background-color: rgba(255, 255, 255, 0.1);
		color: white;
		text-align: center;
		margin-top: 13px 26px;
		margin: 0px 8px 24px 0px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 40px;
		padding-right: 40px;
	}
}

/**************   mediaQuery  375px****************/
@media (max-width: 375px) {
	#section {
		max-width: 100%;
	}

	.heading {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.heading h1 {
		font-size: 25px;
		font-weight: 200;

		padding-left: 10px;
		padding-right: 10px;
	}
	.heading p {
		font-size: 10px;
		font-weight: 300;
		margin-top: -20px;
	}

	.purple {
		background-color: #745cf9;
		color: white;
		text-align: center;
		margin-top: 13px 26px;
		margin: 0px 8px 24px 0px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.white {
		background-color: rgba(255, 255, 255, 0.1);
		color: white;
		text-align: center;
		margin-top: 13px 26px;
		margin: 0px 8px 24px 0px;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

/**************   mediaQuery  320pxpx****************/

@media (max-width: 320px) {
	.heading p {
		width: 350px;
		height: 50px;
		font-size: 10px;
		font-weight: 200;
	}

	.btns {
		flex-direction: column;
		align-items: center;
	}

	.btns button {
		padding: 13px 24px;
		font-size: 12px;
		line-height: 24px;
		font-weight: 300;

		cursor: pointer;
		text-transform: uppercase;
		min-width: 200px;
	}

	.btns .purple {
		color: white;
		background-color: #745cf9;
	}

	.white:hover {
		color: black;
		background-color: white;
	}
}
