/****************** section 6 **************/

#section6 {
	background-color: rgb(14, 16, 20);
	color: white;
	width: 100%;
	display: flex;
	padding-top: 0;
	justify-content: center;
	align-items: center;
	margin-top: -55px;
}

.headin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* 	border: 2px solid white;
 */
	/* margin-top: 60px;
 */
}
.text-contain h3 {
	/* 	border: 2px solid white;
 */
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	text-align: center;
	padding-bottom: 30px;
	font-size: 25px;
	font-weight: 300;
}

.text-contain p {
	font-size: 12px;
	text-align: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: row;
	max-height: fit-content;
	margin-top: 30px;
	padding: 0;
	border: 0;
	background-color: rgb(14, 16, 20);
}
.flex-container div {
	margin: 0;
	padding: 0;
}

.flex-container img {
	height: 250px;
	width: 320px;
	padding: 0;
}

/****************** section 7 **************/

#section7 {
	background-image: url("../images/client-background.jpg");
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 100px;
}
.text-contains {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* 	border: 2px solid white;
 */
	padding-bottom: 40px;
}

.text-contains h3 {
	color: white;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	text-align: center;

	font-size: 25px;
	font-weight: 300;
	/* 	border: 2px solid white;
 */
}
.text-contains p {
	font-size: 12px;
	color: white;
	font-weight: 200;
	line-height: 25px;
	text-align: center;
	/* 	border: 2px solid red;
 */
	padding-left: 20px;
	padding-right: 20px;
	margin: 20px auto;

	max-width: 600px;
}
.text-contains .img-set {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: -10px;
}
.text-contains .img-set img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	/* 	border: 2px solid red;
 */
}

.text-contains .img-set h5 {
	margin-top: 5px;
	text-align: center;
	color: white;
}

/****************** Section 8  **************/

#section8 {
	background-color: rgb(255, 255, 255);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 100px;
}
.headin-s {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* 	border: 2px solid red;
 */
	/* margin-top: 60px;
 */
}

.text-contain-s h3 {
	color: black;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	text-align: center;

	font-size: 25px;
	font-weight: 300;
	/* 	border: 2px solid red;
 */
}

.flex-container-2 {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	flex-direction: row;
	margin-top: 80px;
	/* 	border: 2px solid red;
 */
	margin-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.flex-container-2 img {
	height: 60px;
	width: 60px;
	margin-left: 50px;
	margin-right: 50px;

	padding-right: 10px;
	filter: blur(1px); /* Apply blur filter */
	transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

.flex-container-2 :hover {
	filter: none; /* Remove blur on hover */
}

/****************** Section 9  **************/

#section9 {
	background-color: rgb(245, 245, 245);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 80px;
	/* 	border: 2px solid red;
 */
}

.headin-ss {
	display: flex;
	flex-direction: row;
	align-items: center;
	/* 	border: 2px solid red;
 */
	justify-content: center;
	margin-top: 70px;
}
.headin-ss h3 {
	color: black;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;

	font-size: 25px;
	font-weight: 300;
	/* 	border: 2px solid red;
 */
}

.download-now {
	background-color: #745cf9;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: white;
	border: none;
	font-weight: 200;
	font-size: 12px;
	margin-left: 20px;
	margin-top: 20px;

	/* 	border: 2px solid red;
 */
}

/***************  section 10 footer  **********/

footer {
	/* width: 100%;
	background-color: black;
	margin-top: -40px;
	padding-bottom: 70px;
	overflow: hidden; */
	overflow: hidden;
	background-color: black;
	width: 100%;

	padding-bottom: 80px;
	/* 	border: 2px solid red;
 */
}

.headin-sss {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-top: 80px;
	margin-left: 40px;
	margin-right: 40px;
	/* 	border: 2px solid rgb(242, 196, 196);
 */
}

.headin-sss h5 {
	color: white;
	padding: 0 10px;

	text-align: left;
	font-size: 16px;
	font-weight: 300;
	/* 	border: 2px solid red;
 */
}
.imgs {
	display: flex;
	gap: 6px;
	/* 	border: 2px solid red;
 */
	margin-left: -20px;
}

.headin-sss img {
	width: 30px;
	height: 30px;
	/* 	border: 2px solid white;
 */
}

/****************** media query 1024px *************/
@media (max-width: 1024px) {
	.flex-container img {
		height: 170px;
		width: 256px;
		padding: 0;
	}
}

/****************** media query 768px *************/
@media (max-width: 768px) {
	#section6 {
		background-color: rgb(14, 16, 20);
		color: white;
		width: 100%;
		display: flex;
		padding-top: 0;
		/* padding-bottom: 80px; */
		justify-content: center;
		align-items: center;
		margin-top: -130px;
	}
	.flex-container img {
		height: 300px;
		width: 383px;
		padding: 0;
	}
}
/* text-contains h3 {
		font-size: 20px;
	}
	.text-contains p {
		font-size: 11px;
		color: white;
		font-weight: 200;
		line-height: 25px;
		text-align: center;
		border: 2px solid red;

		padding-left: 10px;
		padding-right: 10px;
		margin: 20px auto;

		/* max-width: 600px; 
*/

/****************** media query 425px *************/

@media (max-width: 425px) {
	.headin h3 {
		font-size: 20px;
	}

	.flex-container img {
		height: 300px;
		width: 412px;
		padding: 0;
	}

	.text-contains p {
		font-size: 10px;
		padding-left: 25px;
		padding-right: 25px;
		border: 2px solid red;
		margin-left: 10px;
		margin-right: 10px;
	}
}
@media (max-width: 375px) {
	.flex-container img {
		height: 280px;
		width: 360px;
		padding: 0;
	}
	.text-contains p {
		font-size: 10px;
		padding-left: 25px;
		padding-right: 25px;
		border: 2px solid red;
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media (max-width: 320px) {
	.headin h3 {
		font-size: 20px;
	}
	.text-contain p {
		font-size: 10px;
		text-align: center;
		margin-top: -20px;
		padding-bottom: 20px;
	}

	.flex-container img {
		height: 240px;
		width: 310px;
		padding: 0;
	}

	.text-contains p {
		font-size: 10px;
		padding-left: 15px;
		padding-right: 15px;
		border: 2px solid red;
		margin-left: 10px;
		margin-right: 10px;
	}
}
