/********************  Section4  **************/

#section4 {
	background-image: url("../images/image-blue.jpg");
	/* background-position-x: 40%;
	background-position-y: 50%; */
	background-size: cover;

	background-attachment: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 130px;
}
.text-containerss {
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* Aligns text at the top */
	align-items: center;

	padding: 15px;
	margin-top: 10px;
	/* 	border: 2px solid red;
 */
}

.text-containerss h3 {
	font-size: 64px;
	font-weight: 300;
	padding: 10px;
	margin-top: 40px;
	color: white;

	/* 	border: 2px solid red;
 */
}
.text-containerss p {
	font-size: 12px;
	color: white;
	font-weight: 200;
	line-height: 25px;
	text-align: center;
	/* 	border: 2px solid red;
 */
	padding-left: 130px;
	padding-right: 130px;
	margin-left: 35px;
	margin-right: 35px;
}

.text-containerss .more-info {
	background-color: #745cf9;
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 15px;
	padding-top: 15px;
	color: white;
	border: none;
	font-weight: 200;
	font-size: 12px;

	margin-top: 10px;
	/* 	border: 2px solid red;
 */
}

@media (max-width: 768px) {
	.text-containerss p {
		font-size: 12px;
		color: white;
		font-weight: 200;
		line-height: 25px;
		text-align: center;
		/* 	border: 2px solid red;
   */
		padding-left: 25px;
		padding-right: 25px;
		margin-left: 35px;
		margin-right: 35px;
	}
}
@media (max-width: 425px) {
	#section4 {
		background-image: url("../images/image-blue.jpg");
		/* background-position-x: 40%;
    background-position-y: 50%; */
		background-size: cover;
		background-position: top;
		background-attachment: fixed;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 180px;
	}
	.text-containerss {
		margin-left: 10px;
		margin-right: 10px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 0;
		margin-top: 10px;
		/* 		border: 2px solid red;
 */
	}

	.text-containerss h3 {
		font-size: 30px;
		font-weight: 200;
		margin-top: 40px;
		color: white;

		/* 		border: 2px solid red;
 */
	}

	.text-containerss p {
		font-size: 10px;
		color: white;
		font-weight: 200;
		line-height: 25px;
		text-align: start;
		border: 2px /* solid */ red;
		text-align: center;
		padding: 0;
		margin: 0;
	}
}

@media (max-width: 320px) {
	#section4 {
		background-image: url("../images/image-blue.jpg");
		/* background-position-x: 40%;
    background-position-y: 50%; */
		background-size: cover;
		background-position: top;
		background-attachment: fixed;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 200px;
	}

	.text-containerss h3 {
		font-size: 25px;
		font-weight: 200;
		margin-top: 40px;
		color: white;
	}
}
